
body {
    font-family: 'Open Sans', serif;
}

label {
    font-weight: bold;
    display: block;
}

.errorMsg {
    text-transform: capitalize;
    font-weight: bold;
    color: #f00;
}

#loginForm {
    margin: 3em auto;
    width: 400px;
}
